@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;


    @include tablet {
       justify-content: right;
    }

    button {
        background-color: $primary-cta-blue;
        margin: 1rem auto;
        width: 90%;
        height: 3.5rem;
        border: .1rem $primary-cta-blue solid;
        border-radius: .625rem;
        color: #FFFFFF;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        align-items: center;
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        
    

        @include tablet {
            display: flex;
            width: 12rem;
            padding-right: 2rem;
            font-size: 1rem;
            margin-top: 1rem;
            justify-content: right;

            label{
                color: #FFFFFF;
            }
            
        }

        @include desktop {
            margin-right: 1rem;
        }
    }

    .buttonImg {
                display: flex;
                justify-content: left;
    }

    
}