@use '../../styles/partials/variables';

.button {
    // background-color: $primary-cta-blue;
    display: flex;

    button {
        padding-top: .75rem;
        background-color: #0095ff;
        margin: 2rem auto;
        width: 90%;
        height: 5vh;
        border: .1rem grey solid;
        border-radius: .625rem;
        color: #FFFFFF;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        display: flex;
    }

    .uploadImage{
        width: 2rem;
        justify-content: left;
        margin-right: 11rem;
        margin-left: 1rem;
        margin-top: .2rem;
        
    }
}