//Primary Colors
$primary-text-black: #323232;
$secondary-text-color: #AFAFAF;
$primary-cta-blue: #0095ff;
$background-color: #FFFFFF;

//Secondary Colors 
$video-color: #000000;
$cta-hover: #0065AD;
$divider-form-color: #E1E1E1;
$form-background-color: #FAFAFA;


//screen sizes

$tablet-width: 768px;
$desktop-width: 1280px;
