@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.videos {
    display: flex;
    flex-direction: column;
    justify-content: left;

    &__title {
        margin: 1rem 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: $secondary-text-color;
        text-transform: uppercase;
      }

    &__section {
            display: flex;
        flex-direction: column;
        margin-left: 2rem;

        li {
            display: flex;
            flex-direction: row;
            width: 100%;
    
            @include tablet{
                display: inline-block;
            
            }
    
        img {
            width: 15rem;
            height: 10rem;
            border-radius: .5rem;
    
            @include tablet{
                width: 20%;
            }
    
        }
        .videoList {

            &__items{
            display: flex;
           flex-direction: row;
           justify-content: space-between;
           margin-bottom: 2rem;
        
           @include tablet{
            
            justify-content: left;
           }
            }
           
        
           &__text {
            display: flex;
            flex-direction: column;
            width: 40%;
            margin-left: 3rem;
            justify-content: right;

            @include tablet {
                float: left;
            }

           }
        
           &__name {
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 1rem;
           }
        
           &__channel {
            font-size: 1.3rem;
           }
        
        
        }
        

      }
    }
     


}



 
   

  







