.activeVideoPlayer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.activeVideoPlayer__title {
  text-align: left;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem;
  width: 85%;
}
.activeVideoPlayer .activeVideo {
  width: 100%;
  justify-content: center;
}
@media (min-width: 768px) {
  .activeVideoPlayer .activeVideo {
    width: 90%;
    margin: auto;
  }
}
.activeVideoPlayer .activeVideo__divider {
  display: flex;
  border-bottom: #E1E1E1 0.2rem solid;
  width: 95%;
  margin: auto;
}
@media (min-width: 768px) {
  .activeVideoPlayer .activeVideo__divider-tablet {
    display: none;
  }
}
@media (min-width: 1280px) {
  .activeVideoPlayer .activeVideo__divider {
    width: 100%;
    margin: 0;
  }
}

.activeVideoData {
  display: flex;
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .activeVideoData {
    margin: 0rem 1.5rem 0.5rem 1rem;
  }
}
@media (min-width: 768px) {
  .activeVideoData__section1 {
    display: flex;
  }
}
.activeVideoData__section1--channel {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin-right: 2rem;
}
@media (min-width: 1280px) {
  .activeVideoData__section1--channel {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
.activeVideoData__section1--date {
  font-size: 1.5rem;
  color: #AFAFAF;
}
@media (min-width: 1280px) {
  .activeVideoData__section1--date {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
.activeVideoData__section2 {
  margin-right: 4rem;
}
@media (min-width: 768px) {
  .activeVideoData__section2 {
    display: flex;
    margin-right: 0;
  }
}
.activeVideoData__viewsSection {
  display: flex;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .activeVideoData__viewsSection {
    margin-right: 2rem;
  }
}
.activeVideoData__viewsSection--count {
  margin-left: 1rem;
  color: #AFAFAF;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .activeVideoData__viewsSection--count {
    margin-left: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .activeVideoData__viewsSection--count {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
.activeVideoData__viewsSection img {
  width: 2rem;
}
@media (min-width: 1280px) {
  .activeVideoData__viewsSection img {
    width: 1.5rem;
  }
}
.activeVideoData__likesSection {
  display: flex;
  margin-bottom: 1rem;
}
.activeVideoData__likesSection--likes {
  margin-left: 1rem;
  color: #AFAFAF;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .activeVideoData__likesSection--likes {
    margin-left: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .activeVideoData__likesSection--likes {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
.activeVideoData__likesSection img {
  width: 1.8rem;
}
@media (min-width: 1280px) {
  .activeVideoData__likesSection img {
    width: 1.3rem;
  }
}
.activeVideoData__description {
  width: 90%;
  margin: 1rem auto;
}
@media (min-width: 768px) {
  .activeVideoData__description {
    width: 95%;
  }
}
@media (min-width: 1280px) {
  .activeVideoData__description {
    line-height: 1.75rem;
    width: 87%;
  }
}/*# sourceMappingURL=activeVideo.css.map */