@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.activeVideoPlayer {
    display: flex;
    width: 100%;
    flex-direction: column;

    .videoContainer{
        display: flex;
        width: 100%;
        background-color: #000000;
        height: 40vh;

        video{
            width: 100%;
        }
    }


    &__title {
        // width: 60%;
        text-align: left;
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        margin: 1rem;
    
        width: 85%;

    }

    video {
        // margin: auto;
    }


    .activeVideo {
        width: 100%;
        // margin: .75rem auto 1rem auto;
        justify-content: center;
        // background-image: url(../../assets/Icons/play.svg);

        @include tablet {
            width: 90%;
            margin: auto;
        }

        &__divider {
            display: flex;
            border-bottom: $divider-form-color .2rem solid;
            width: 95%;
            margin: auto;

            &-tablet {

                @include tablet {
                    display: none;
                }
            }
        }
    
    }

}

.activeVideoData {
    display: flex;
    margin: 1.5rem 1.5rem .5rem 1.5rem;
    justify-content: space-between;

    @include tablet {
        margin: 0rem 1.5rem .5rem 1rem;
    }

    &__section1 {
       
            @include tablet {
                display: flex;
                
            }

        &--channel {
            font-weight: 600;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            margin-right: 2rem;

        }

        &--date {
            font-size: 1.5rem;
            color: $secondary-text-color;
        }
        
    }

    &__section2 {
        margin-right: 4rem;

        @include tablet {
            display: flex;
            margin-right: 0;
        }
    }

    &__viewsSection{
        display: flex;
        margin-bottom: 1rem;

        @include tablet {
            margin-right: 2rem ;
        }

        &--count {
            margin-left: 1rem;
            color: $secondary-text-color;
            font-size: 1.5rem;

            @include tablet {
                margin-left: .5rem;
            }
        }

        img {
            width: 2rem;
        }
    }

    &__likesSection{
        display: flex;
        margin-bottom: 1rem;

        &--likes {
            margin-left: 1rem;
            color: $secondary-text-color;
            font-size: 1.5rem;

            @include tablet {
                margin-left: .5rem;
            }
        }

        img {
            width: 1.8rem;
        }
    }

    &__description{
        width: 90%;
        margin: 1rem auto;

        @include tablet {
            width: 95%;
        }
    }
}