@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

 .searchBar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @include tablet{
        justify-content: right;
        width: 70%;
        
    }

    &__input {
        margin-right: 1rem;
        width: 90%;

        @include tablet {
            display: flex;
            justify-content: right;
            width: 100%;
        }

        input{
        
        background-image: url('../../assets/Icons/search.svg');
        background-repeat: no-repeat;
        padding-left: 2rem;
        margin-left: 2rem;
        width: 90%;
        // margin-top: .5rem;
        border: .2rem $divider-form-color solid;
        border-radius: .625rem;
        height: 6vh;
        font-size: 1.1rem;
        color: $primary-text-black;
    
        

        @include tablet {

            width: 60%;
            margin: 0rem 1rem 0rem 0rem;
           
           
        }
    }
    }

   &__image {

    img{
            height: 60px;
            width: 65px;
            border-radius: 50%;
            // display: inline-block;
             margin-right: 2rem;
            //  position: absolute;
            //  left: 300px

            @include tablet {
                display: none;
            }
            
    }   
        
     }

    }