.searchBar {
    display: flex;

    input {
        padding: .75rem;
        margin: auto;
        width: 65%;
        border: .1rem grey solid;
        border-radius: 6%;
    }

    img {
            height: 70px;
            width: 80px;
            border-radius: 50%;
            display: inline-block;
            
            margin: 0 2rem 0 0;
    }

}