@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.comments{

    &__title{
        margin-left: 2rem;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 2rem;

        @include tablet {
            font-size: 1rem;
            margin: 2rem 0 1rem 2.5rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

      
       

        &-title{
        
            margin-left: 5rem;
        }

        &-Container{
            display: flex;
            justify-content: space-around;
            width: 100%;

            @include tablet{
                justify-content: space-evenly;
            }

            label {
                color: $secondary-text-color;
                margin-left: 2rem;
                font-weight: 600;
                font-size: 1.5rem;

                @include tablet {
                    font-size: 1rem;
                   
                }
            }
            

            input {
                padding-top: 0;
    
                
            }

            .comments__form-image {
                margin-left: 2rem;
                height: 55px;
                width: 65px;
                border-radius: 50%;
                display: inline-block;
                margin-top: 2rem;

                @include tablet{
                    margin-top: 1rem;
                }
            }

            form {
                width: 100%;

                @include tablet {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 2rem;
                }
                

            #userComment{
                height: 8rem;
                width: 90%;
                margin-left: 2rem;
                border-radius: .5rem;
                border: $divider-form-color .2rem solid;

                @include tablet {
                    height: 3rem;
                    width: 90%;
                }
            }
        }
           
        }

        &-miniContainer {
            display: flex;
            flex-direction: column;

            @include tablet {
                margin-top: 0rem;
                width: 55%;
            }
        }


    }

}

.cButton{
    margin-top: 1rem;
}


.commentList {
    display: flex;

    .dot{
        margin-left: 2rem;
        margin-right: 2rem;
        height: 60px;
        width: 60px;
        background-color: $divider-form-color;
        border-radius: 50%;
        display: inline-block;
        margin-top: 1rem;

        @include tablet {
            height: 2.8125rem;
            width: 2.8125rem;
        }
    }

    &__text {

        &-container {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-bottom: 1rem;
            margin-top: 1rem;

            @include desktop {
                margin-bottom: 2rem;
                margin-top: 2rem;
            }
        }

        &-miniContainer{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        &-name{
            font-weight: 500;
            font-size: 1.2rem;
        }

        &-date{
            color: $secondary-text-color;

            @include desktop {
                margin-right: 1rem;
            }
        }
    }

    &__divider{
        display: flex;
            border-bottom: $divider-form-color .15rem solid;
            width: 95%;
            margin: auto;

            @include desktop {
                width: 100%;
            }
    }
}


