@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir Next';
    max-width: 1920px;
    overflow-x: hidden;
    
}


body {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    justify-content: center;
}

.App {
    // width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;

    &__container {

        @include desktop {
        display: flex;
        margin-left: 2rem;
        }

        &-mini {

            @include desktop {
                width: 60%;
               
            }
        }
    }
    .divider {

        @include desktop {
        display: flex;
        border-right: $divider-form-color .2rem solid;
        height: 65rem;
        }
        
      
    }
}